@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);

* {
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #111;
  background-repeat: no-repeat;
  background-image: url(/images/bg-01.svg);
  background-size:cover;background-position: center;
  background-attachment:fixed;
}

.convertSection {
  
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 450px;
  text-align: center;
  display: flex;
  color: white;
  box-shadow: 3px 10px 20px 5px rgba(0, 0, 0, .5);
}

.info {
  width: 45%;
  background: rgba(20, 40, 40, .8);
  padding: 30px 0;
  border-right: 5px solid rgba(30, 30, 30, .8);
  h2 {
    padding-top: 30px;
    font-weight: 300;
  }
  p {
    font-size: 18px;
  }
  .icon {
    font-size: 8em;
    padding: 20px 0;
    color: rgba(10, 180, 180, 1);
  }
}

.conversionForm {
  width: 70%;
  padding: 30px 0;
  background: rgba(20, 40, 40, .8);
  transition: .2s;
  h2 {
    font-weight: 300;
  }
}

.inputField {
  margin: 15px 0;
  font-size: 16px;
  padding: 10px;
  width: 250px;
  border: 1px solid;
  border-top: none;
  border-left: none;
  border-right: none;
  background: rgba(20, 20, 20, .2);
  color: white;
  outline: none;
  border-bottom-color: #ff402c;
}

.noBullet {
  list-style-type: none;
  padding: 0;
}

#submitButton {
  border: 1px solid;
  background: rgba(20, 20, 20, .6);
  font-size: 18px;
  color: white;
  margin-top: 20px;
  padding: 10px 50px;
  cursor: pointer;
  border-color: #ff402c;
  transition: .4s;
}

#submitButton:hover {
	background: #ff402c radial-gradient(circle, transparent 1%, #ff402c 1%) center/15000%;
}

#submitButton:active{
	outline: none;
    box-shadow: inset 4px 4px 12px black;
    transform: scale(.75);
}
.gradient {
  	background-image:
    	linear-gradient(
      		to right, 
      		#0f0c29, #302b63, #24243e
    	);
}

.fun-fact {
	margin-top: 100px;
	color: gray;
	font-size: 13px;
	font-style:italic;
}

.ns-icon {
	margin-top: 40px;
}

.secodary-color {
	color: gray
}

.disabled {
	border-bottom-color: transparent
}

#errorLabel {
	color:red;
	font-size:13px;
	margin-left: -62px;
}

#errorResponse {
	color:red;
	font-size:15px;
	margin-left: -35px;
	margin-top: 10px;
}


